* {
  margin: 0;
  padding: 0;
}

main {
	background-color: #66A1D2;
	font-family: 'PT Sans';
}

header {
	background-color: #BAE2F7;
	font-size: 64;
	padding:0px;
}

footer{
	background-color: #0A67A3;
}

table {
	width: 100%;
	font-size: 48;
	text-align:center;
	border-collapse:collapse;
	margin-top: 10px;
	margin-bottom: 10px;
}

table td {
	background-color: #53B4E6;
	border-left: 1px solid black;
	border-right: 1px solid black;
}